<% tasks.forEach(task => { %>
    <div>
        <div> 
            <h4>Description :   <%= task.description %> </h4>
            <form action="/task/userTask/<%=  task._id %>?_method=PATCH" method="POST">
                <div>
                    <label for="description">Description</label>
                    <input type="text" id="description" name="description" required>
                    <button type="submit">Edit</button>  
                </div>
            
            </form>
          </div>
            <div>
            <h4>Completed :  <%= task.completed %></h4>
            <form action="/task/userTask/<%=  task._id %>?_method=PATCH" method="POST">
             <div>       
                    <label for="completed">Completed</label>
                    <input type="text" id="completed" name="completed" required>
                    <button type="submit">Edit</button>  
                </form>
                </div>
       </div> 
        </div>
<div>
    
    <div>
        <form action="/task/userTask/<%=  task._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger" type="submit">Delete</button>
          </form>  
        </div>
</div>
 <%  }) %>
 <%- include('_footer') %>